.lagani{

   
}
.lagani ul li a:hover{

text-decoration:silver:
bacground-color:green;
text-emphasis: 1px;
radius:1px;

float:5px;

}

.vody{

background-color:lightcyan;


}
.div-clear{
	div-clear:both;
}